<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jps.apps.jiva_nshaastra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.JivanSaarthi">
        <activity android:name=".philosphies.Pbk"></activity>
        <activity android:name=".philosphies.Sav" />
        <activity android:name=".philosphies.Sam" />
        <activity android:name=".philosphies.Sat" />
        <activity android:name=".philosphies.Sph" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" /> <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".SplashActivity" />
    </application>

</manifest>